USE [master]
GO
/****** Object:  Database [CarPark]    Script Date: 20.11.2022 21:05:08 ******/
CREATE DATABASE [CarPark]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarPark', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarPark.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarPark_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarPark_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarPark].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarPark]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 20.11.2022 21:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Brand] [nchar](10) NOT NULL,
	[Model] [nchar](10) NOT NULL,
	[Speed] [int] NOT NULL,
	[Motor] [int] NOT NULL,
	[Year] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
